@import "var";

.header__menu-btn {
  display: none;
  width: 40px;
  transition: all 0.5s;
}

.header__menu-row {
  width: 100%;
  height: 4px;
  background-color: #000000;
}

.header__wrapper {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
  background-color: $foncolor;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 127px;
}

.top_nav ul li {
  display: inline-block;

  & a {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
  }

  & a:hover {
    color: #2aacc8;
  }
}

.header__menu {
  margin-right: 20px;
}

.header__menu li +li {
  margin-left: 50px;
}

.header__menu a {
  padding-top: 9px;
  padding-bottom: 13px;
  font-family: "arial", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
}

.drop-down__list {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  border: 1px solid rgb(232, 235, 241);
  border-top: none;
  border-bottom: 1px solid #2aacc8;
  padding: 10px 5px;
  width: 200px;
  height: 0;
  box-shadow: 0 5px 0 0 rgba(42, 172, 200, 0.004);
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.3s;
}

.drop-down__list a {
  display: block;
  padding: 12px 0 12px 11px;
  font-weight: 400;
  text-transform: none;
}

.drop-down__list a:hover {
  color: #2aacc8;
}

.drop-down__list li +li a {
  border-top: 1px solid #e7e7e7;
}

.header__drop-down .drop-down__list li {
  display: block;
  margin-left: 0;
}

.header__drop-down.drop-down {
  margin-left: 39px;
}

.header__drop-down.drop-down +.header__drop-down.drop-down {
  margin-left: 12px;
}

.header__drop-down {
  position: relative;
}

.header__drop-down >a {
  position: relative;
  border-top: 5px solid transparent;
  padding-right: 26px;
  padding-left: 11px;
  transition: all 0.3s;
}

.header__drop-down >a::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 13px;
  width: 7px;
  height: 5px;
  background-image: url(../img/down-arrow.png);
}

@media only screen and (min-width: 961px) {
  .header__drop-down:hover a +.drop-down__list {
    overflow: visible;
    height: auto;
    opacity: 1;
    transition: all 0.3s;
  }

  .drop-down__list:hover {
    display: block;
  }

  .header__drop-down.drop-down:hover .drop-down__list {
    display: block;
  }
}

.header__drop-down.drop-down:hover >a {
  border-top: 5px solid #2aacc8;
  color: #2aacc8;
  background-color: #ffffff;
  transition: all 0.3s;
}

.slider {
  padding: 20px 0 10px;
  background-color: #81e4ed;
}
.slider__inner {}

.slider__item {
  border: 1px solid #000000;
  min-height: 440px;
  background-image: url(../img/slider-bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider__item__title {
  margin-left: 60px;
  padding-top: 90px;
  width: 300px;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
}

.slick-dots li button {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: rgba(#626262, 0.5);
}

.slick-dots li button::before {
  display: none;
}

.slick-dots li {
  margin: 0 9px;
  width: auto;
  height: auto;
}

.slick-dots li.slick-active button {
  background-color: #ffffff;
}
